$background: #c4e1ff;

.container {
	height: 80px;
	margin-top: 10px;
	padding: 20px;

	border: 1px solid #b7cce0;
	border-radius: 2px;

	background: $background;
}

.title {
	font-weight: 700;
}

.facts {
	margin: 0;
	padding: 0;
	margin-top: 5px;
	padding-left: 20px;

	font-size: 0.8em;
}
