.app {
	width: 90vw;
	max-width: 800px;
	margin: auto;
	padding: 30px 0;
}

.title {
	margin: 0;
}

.author {
	display: block;
	margin-top: 5px;
}

.header {
	margin: 0;
	margin-top: 30px;

	font-size: 1.5em;
	font-weight: 700;
}
