.singleBar {
	display: flex;
	flex-direction: column;

	margin: 0;
}

.infoContainer {
	display: inherit;
	justify-content: space-between;

	margin-top: 10px;
}

.barContainer {
	display: inherit;
	flex-direction: row;

	height: 40px;
	margin-top: 5px;
}

.leftSide,
.rightSide {
	position: relative;

	&::after {
		display: block;
		border: 0px solid black;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;

		content: '';
	}

	&:hover {
		&::after {
			border-width: 2px;
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
		}
	}
}

.rightSide {
	position: relative;
	flex-grow: 1;
}

.barValue {
	padding: 5px;

	position: absolute;
	left: 0;
	bottom: 0;

	font-weight: 700;
}
